*{
  background-color: #c0c0c0;
}

.flash_message_text{
  text-align: center;
  width: 200px;
  height: auto;
  line-height: auto;
  color: red;
  border: 2px solid red;
}

.taskedit{
  decoration: none;
  padding-left: 100px;
}

.taskdestroy{
  decoration: none;
  padding-left: 20px;
}